@font-face {
    font-family: PoppinsLight;
    src: url(../fonts/Poppins/Poppins-ExtraLight.ttf);
}

@font-face
{
 font-family: PoppinsBold;
 src:url(../fonts/Poppins/Poppins-ExtraBold.ttf)
}

@font-face {
    font-family: PoppinsExtraLight;
    src: url(../fonts/Poppins/Poppins-ExtraLight.ttf);
}