
 @font-face {
    font-family: RobotoBold;
    src: url(./assets/fonts/static/RobotoMono-Bold.ttf);
}


.icon {
    font-family: RobotoBold;
}

#Programming {
    border: 1px solid black;
    width: 350px;
    height: 300px;
    position: relative;
    top: 20px;
    left: 545px;
    padding: 20px;

}


#Programming p {

    padding-top: 30px;
    padding-left: 20px;
}

#Programming:hover {
    background-color: aqua;
    color: white;
    font-size: 20px;
    width: 400px;
    height: 350px;
}